.skeleton {
	position: relative;
	box-shadow: 0 2px 10px 0 black;
	overflow: hidden;

	& ::before {
		content: "";
		position: absolute;
		left: -150px;
		top: 0;
		height: 100%;
		width: 80%;
		background: linear-gradient( to right, transparent 0%, gray, transparent 100%);
		animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	}
}
@keyframes load {
	from {
		left: -700px;
	}
	
	to {
		left: 100%;
	}
}

/* .card_skeleton {
	display: flex;
	flex-direction: column; 
	border-radius: 8px;
	overflow: hidden;
}


 
.card_skeleton__image {
	background: #b8b8b8;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	align-items: start;
	height: 180px;
}

.card_skeleton__info{
	display: flex;
	flex-direction: column;
	background:var(--black);
	color: var(--white);
	padding: 10px;
	min-height: 130px;
}

.card_skeleton__tag{
	font-weight: 300;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 3px;
}

.card_skeleton__name{
	font-weight: 600;
	font-size: 15px;
	line-height: 110%;
	margin-bottom: 8px;
}

.card_skeleton__author{
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
}

.card_skeleton__footer{
	margin-top: auto;
	display: flex;
}

.button_skeleton__add{
	border-radius: 6px;
	width: 36px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 1px solid var(--white);
	cursor: pointer;
}

.button_skeleton__active {
	background: var(--white);
} */